/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


.v-responsive__content{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}